<span id="empty-span" style="
    font-size: 1.5em;
    margin: 48px auto;
    display: block;
    text-align: center;
    font-weight: bold;
    color: #3498db;">
    <img src="/images/exam.png" alt="" width="200px" height="200px" style="object-fit: cover;">
    <br>
    Oopsie!! We've found nothing here!
</span>