<header id="navbar">
    <img id="navlogo" src="/images/logo-dark.png" alt="">
    <div id="navlinks">
        <button>Marketplace<img id="navicon" src="/images/icons/cart.png" alt=""></button>
        <button>Add Faculty <img id="navicon" src="/images/icons/add-faculty.png" alt=""></button>
        <button><%=domain%><img id="navicon" src="/images/icons/profile.png" alt=""></button>
    </div>
</header>