body{
  background-image: linear-gradient(270deg, rgba(48, 131, 117, 0.9) 0%, rgba(11, 37, 32, 0.9) 100%),url("images/bkgImg-Page2.png");
}

h2{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: #ffff;
  text-align: center;
  padding-top: 70px;
}

.card-body{
  text-align: left;
  color: #ffff;
}
.login{
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;
}
.card{
  background-color: #1e6f5c;
  border-radius: 40px;
}
.forms{
  padding: 30px;
}
.card-body-heading{
  text-align: center;
  text-decoration: underline;
}
.btn{
  background-color: #fa9905;
  color: #fff;
}
.forgot{
  text-decoration: none;
  color: #fff;
  text-align: right;
}
.forgot:hover{
  text-decoration: none;
  color: #fa9905;
}
.getstarted{
  text-decoration: none;
  text-decoration: underline;
  color: #000;
}
.getstarted:hover{
  text-decoration: none;
  color: #fa9905;
}
#emailHelp{
  text-align: right;
}

@media (max-width: 900px){
  .login{
    width: 75%;
  }
}

.card-footer-para{
  color: #fff;
}
