<%- include('partials/header'); -%>

<body>
  <section id="title">
    <div class="container-fluid">

      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a href=""><img class="navbar-brand" src="/images/logo-dark.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#deals">Deals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contacts">Contact</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn btn-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Go To Admin Panel
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/signin">Organisation</a>
                  <a class="dropdown-item" href="/signin">Faculty</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!-- TITLE -->
      <div class="heading">
        <h1>YOU JUST TEACH</h1>
        <h1>WE HANDLE THE HASSLE</h1>
        <br>
        <h5>We understand, how hard it had been managing all of this alone.</h5>
        <h5>Don’t worry your study-buddy is here for the rescue!!</h5>
      </div>

      <!-- TITLE IMAGES -->

      <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2>Hassle-Free collection of Notes and Assignments</h2>
            <img class="testimonial-image" src="/images/assignments.jpg" alt="">
            <br>
            <em>Slide to see more</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Easy and Convenient Management of Students</h2>
            <img class="testimonial-image" src="/images/time.jpg" alt="">
            <br>
            <em>Slide to see more</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Reliable Exam<br>Conduction</h2>
            <img class="testimonial-image" src="/images/exam.jpg" alt="">
            <br>
            <em>Slide to see more</em>
          </div>
        </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>

        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>

        </a>
      </div>

    </div>
  </section>

  <!-- DEALS -->

  <section id="deals">

    <div class="deals-heading">
      <h1>PICKUP FROM THE BEST DEALS</h1>
    </div>
    <div class="deals-heading-para">
      <p>BEST CURATED DEALS FOR ALL YOUR BUSINESSES.</p>
    </div>

    <div class="row">
      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header small">
            <h3>Small Organisations</h3>
            <p>Best for home tutors</p>
          </div>
          <div class="card-body">
            <h2>Free</h2>
            <br>
            <a href="/register"><button type="button" class="btn btn-outline-dark" type="button">Get Started</button></a>
            <br>
            <br>
            <p>50 Students</p>
            <p>2 Faculties</p>
            <p>5 Assignments/month</p>
            <p>5 Subjective Examination/month</p>
            <p>Unlimited MCQ/month</p>
            <p>256 mb of notes storage/month</p>
            <p><b>Free </b>for lifetime</p>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 customer-fav-card">
        <div class="card">
          <div class="card-header customer-fav">
            <h3 class="customer-fav-heading">Customer's Favourite</h3>
            <p class="customer-fav-heading">Ideal for small to big Organisations</p>
          </div>
          <div class="card-body">
            <h2>₹499 / month</h2>
            <br>
            <a href="/register"><button type="button" class="btn btn-dark" type="button">Get Started</button></a>
            <br>
            <br>
            <p>250 Students</p>
            <p>25 Faculties</p>
            <p>10 Assignments/month</p>
            <p>10 Subjective Examination/month</p>
            <p>Unlimited MCQ/month</p>
            <p>2 gb of notes storage/month</p>
            <p><b>16.5% </b>discount on payment for 1 year</p>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header big">
            <h3>Large Organisations</h3>
            <p>Feel the power with stretched bounds</p>
          </div>
          <div class="card-body">
            <h2>₹999 / month</h2>
            <br>
            <a href="/register"><button type="button" class="btn btn-outline-dark" type="button">Get Started</button></a>
            <br>
            <br>
            <p>500 Students</p>
            <p>50 Faculties</p>
            <p>20 Assignments/month</p>
            <p>20 Subjective Examination/month</p>
            <p>Unlimited MCQ/month</p>
            <p>5 gb of notes storage/month</p>
            <p><b>16.5% </b>discount on payment for 1 year</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- FEATURES -->

  <section id="features">

    <div>
      <h1 class="features-heading1">EXPERIENCE THE TOP NOTCH FEATURES</h1>
      <p class="features-heading2">Understanding the situation and presenting to you best value for money</p>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="featureimage">
            <img class="d-block w-100" src="/images/feature-img.png" alt="First slide">
          </div>
          <div class="featureimagetext">
            <p class="featureimagetext-para">Simple and Intutive</p>
            <h3>Dashboard</h3>
            <br>
            <p>With an easy and feature rich dashboard, easily manage your institute. Segregate students into batches and then into classes. Create notices, timetables and much more.</p>
          </div>

        </div>
        <div class="carousel-item">
          <div class="featureimage">
            <img class="d-block w-100" src="/images/feature-img (1).png" alt="Second slide">
          </div>
          <div class="featureimagetext">
            <p class="featureimagetext-para">No Bounds Experience</p>
            <h3>Marketplace</h3>
            <br>
            <p>Plan you chose, doesn't suffice your needs? Why not add features on request!! Increase storage capacity, students, assignments, notes, anything. No bounds means no bounds!</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="featureimage">
            <img class="d-block w-100" src="/images/feature-img (2).png" alt="Third slide">
          </div>
          <div class="featureimagetext">
            <p class="featureimagetext-para">Simply the Best</p>
            <h3>Strict Examinations</h3>
            <br>
            <p>Along with MCQs and subjective exams, you also get to give strict examinations. Questions get displayed, only after pre-defined durations. Aren't we going rough on them!!</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </section>

  <!-- CONTACTS -->
  <section id="contacts">

    <div class="footer-class">
<img src="/images/icon.png" alt="" style="padding-top: 20px;height: 80px;width: 80px;">
      <div class="footer-sections">
        <h2 class="footer-sections-heading">StudBudd</h2>
        <p class="footer-column-para">Our aim is to make it easier for the</p>
        <p class="footer-column-para">torch-bearers of the society,</p>
        <p class="footer-column-para">educational institutes to help them do,</p>
        <p class="footer-column-para">just what they are best at.</p>
        <a class="i-button" href=""><i class="fab fa-linkedin"></i></a>
        <a class="i-button" href=""><i class="fab fa-facebook-square"></i></a>
        <a class="i-button" href=""><i class="fab fa-instagram-square"></i></a>
        <a class="i-button" href=""><i class="fab fa-twitter-square"></i></a>
      </div>
      <div class="footer-sections">
        <h4>DEALS</h4>
        <a class="footer-link" href="#deals">Small Organisation</a>
        <br>
        <a class="footer-link" href="#deals">Big Organisation</a>
        <br>
        <a class="footer-link" href="#deals">Large Organisation</a>
        <br>
        <br>
        <h4>COMPANY</h4>
        <a class="footer-link" href="">About StudBudd</a>
      </div>

      <div class="footer-sections">
        <h4>WORK WITH US</h4>
        <a class="footer-link" href="">Internships</a>
        <br>
        <a class="footer-link" href="">Jobs</a>
      </div>

      <div class="footer-sections">
        <h4>HELP</h4>
        <a class="footer-link" href="">Report Online Abuse</a>
        <br>
        <a class="footer-link" href="">Frequently Asked Questions</a>
        <br>
        <a class="footer-link" href="">Tutorials</a>
        <br>
        <a class="footer-link" href="">Contact Us</a>
      </div>

      <div class="footer-sections">
        <h4>LEGAL</h4>
        <a class="footer-link" href="">Privacy Policy</a>
        <br>
        <a class="footer-link" href="">Terms Of Service</a>
      </div>



  </section>

  <%- include('partials/footer'); -%>
