<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/bootstrap") -%>
    <title>Profile</title>
</head>
<body>
    <%- include("partials/navbar") -%>
    <section class="info">
        <div class="info-details">
            <h1 id="name">Aman Classes</h1>
            <p id="desc">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum voluptate nemo consequuntur, pariatur consequatur assumenda eius hic quisquam, ipsa fuga atque? Eius quia totam, hic eos neque ut, minima sed animi doloremque accusantium tenetur porro, eum recusandae vel consectetur. Temporibus quod beatae hic molestiae iste ratione magnam fugit, impedit repudiandae!
            </p>
        </div>
        <div>
            <img src="/images/logo.png" alt="Organization logo">
        </div>
    </section>
</body>
</html>