<!DOCTYPE html>

<head>
	<title>Registration</title>
	<link rel="stylesheet" href="/css/styles_signin.css">
</head>

<body>
	<div>
		<img src="/images/logo-dark.png" class="logoOfSignin" alt="">
	</div>



	<div class="container">

		<form id="myForm" class="myForm" action="">


			<section id="Form1">
				<h3>CREATE ACCOUNT</h3>
				<input id="email" type="text" name="email" placeholder="Email" required>
				<input id="password" type="password" name="password" placeholder="Password" required>
				<div class="btn-box">
					<button type="button" id="Next1">Next</button>
				</div>

			</section>

			<section id="Form2">
				<h3>INSTITUTE INFO</h3>
				<input id="name" type="text" name="name" placeholder="Institute Name" required>
				<input id="domain" type="text" name="domain" placeholder="Domain" required>

				<div class="btn-box">
					<button type="button" id="Back1">Back</button>
					<button type="button" id="Next2">Next</button>
				</div>

			</section>

			<section id="Form3">
				<h3>SELECT PACK</h3>

				<label class="container1">Small Organisations(Free)
					<input type="radio" name="selectPlan" value="1" id="radio1">
					<span class="checkmark"></span>
				</label>

				<label class="container1">Small to Big (Customer's Favourite)
					<input type="radio" name="selectPlan" value="2" id="radio2">
					<span class="checkmark"></span>
				</label>

				<label class="container1">Large Organisations
					<input type="radio" name="selectPlan" value="3" id="radio3">
					<span class="checkmark"></span>
				</label>

				<div class="btn-box">
					<button type="button" id="Back2">Back</button>
					<input id="Next3" type="button" value="Next">
				</div>


			</section>


		</form>



		<div class="step-row">
			<div id="progress">

			</div>
			<div class="step-col"><small>Step 1</small></div>
			<div class="step-col"><small>Step 2</small></div>
			<div class="step-col"><small>Step 3</small></div>
		</div>

	</div>

	<script src="/js/register.js"></script>
</body>

</html>