<%- include('partials/header'); -%>

  <body id="signin">

    <form action="/signin" class="form-signin" method="POST">
      <img src="/images/logo-dark.png" class="signin-icon" alt="">
      <input type="text" name="username" class="form-control top" placeholder="Email or host name" required>
      <input type="password" class="form-control bottom" name="password" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign me in</button>
      <br />
      <br />
      <% if(error){ %>
        <p style="font-size: 0.5rem; color: red;">*Authentication Failed</p>
     <% } %>
      <p class="p-signin">*In case you’ve forgot your password, ask organization admin to change it for you.</p>
    </form>
   

  </body>

  </html>