<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/bootstrap") -%>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/subject.css">
    <title>Subjects Overview</title>
</head>
<body>
    <%- include("partials/navbar") -%>
    <main>
        <header><h3>Engineering Mathematics</h3></header>
        <div class="row">
            <div class="card-no-color no-scroll" id="notesContainer">
                <div class="container-header">
                    <h5>Interact</h5>
                    <input style="display: none;" type="file" name="notes" id="notes" accept="image/*, .pdf">
                    <label class="btn btn-outline-primary" for="assignment">Upload</label>
                    <button class="btn btn-primary">Archive</button>
                </div><hr>
                <div id="loadingBadge" style="text-align: center; display: none;">
                    <span class="badge badge-info">Loading more chats...</span>
                </div>
                <div class="scroll" id="messages"></div>
                <form id="inputContainer">
                    <input class="form-control" type="text" name="chat" id="chat" placeholder="Type something..." oninput="onChatInputChanged()">
                    <button type="submit" id="sendChatButton" class="btn btn-primary" disabled>Send</button>
                </form>
            </div>
            <div class="card no-scroll" id="assignments">
                <div class="container-header">
                    <h5>Assignments</h5>
                    <button class="btn btn-primary">Archive</button>
                </div><hr>
                <div class="scroll assignments">
                    <label class="form-col-label" for="title">Title*</label>
                    <input class="form-control" type="text" name="title" id="assignmentTitle" placeholder="Assignment Title">
                    <label class="form-col-label" for="desc">Description</label>
                    <input class="form-control" type="text" name="desc" id="assignmentDesc" placeholder="Assignment Description">
                    <label class="form-col-label" for="submissionDate">Submission Date*(On Firefox/Safari - <strong>YYYY-MM-DD hh:mm</strong>)</label>
                    <input class="form-control" type="datetime-local" name="submissionDate" id="assignmentSubmissionDate">
                    <div class="fileInputDiv">
                        <strong>You can upload a document from your device. <span style="display: none; cursor: pointer;" id="assignmentChosen" class="badge badge-info" onclick="resetFileSelection('assignment', 'assignmentChosen')">File chosen. Reset?</span></strong>
                        <input style="display: none;" type="file" name="assignment" id="assignment" accept="image/*, .pdf" onchange="fileChosen('assignment', 'assignmentChosen')">
                        <label class="btn btn-outline-primary" for="assignment">Upload</label>
                    </div>
                    <div style="text-align: center;"><strong>OR</strong></div>
                    <strong class="m-2 text-danger">Questions are NOT added if file is chosen, to deselect click on reset button.</strong>
                    <div class="questions" id="questions">
                        <div id="ques0" class="questionContainer">
                            <div class="quesText">
                                <textarea class="form-control" placeholder="Question 1"></textarea>
                                <select class="quesType form-select form-select-sm" name="quesType" id="ques0-type" onchange="changeQuestionType('ques0')">
                                    <option value="0">Subjective</option>
                                    <option value="1">Objective</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button style="margin-top: 12px;" class="btn btn-outline-primary" onclick="resetQuestions()">Reset</button>
                    <button style="margin-top: 12px;" class="btn btn-primary" onclick="addMoreQuestions()">Save/Add more</button>
                </div>
                <div class="assignmentsBottom">
                    <button id="createAssignmentBtn" class="btn btn-primary" onclick="submitAssignment()">Create</button>
                </div>
            </div>
        </div>
    </main>
    <%- include("partials/footer") -%>
    <script src="/js/subject.js"></script>
</body>
</html>

<!-- Normal Chat Item -->
<!-- 5. Note -->
<!-- <div class="noteItem">
    <h6><strong>Chapter 1 - Data Structures and Algorithms</strong></h6>
    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At qui accusantium delectus molestias illum, assumenda facilis unde ex aliquam, mollitia quisquam. Recusandae, veniam earum. Suscipit omnis et quidem magni distinctio, culpa voluptatum explicabo ab cum maiores nam vitae. Eum et nostrum iusto praesentium qui sint eveniet modi fuga dolor repudiandae.</div>
</div> -->
<!-- 6. Exam -->
<!-- <div class="examItem">
    <h6><strong>Mid Term Examination </strong>(50-Marks) | 3 hours</h6>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident beatae nemo maiores, deserunt earum amet?</div>
    <div class="details-right">
        <u>Date</u> - <strong>25/07/2021 10:00 UTC</strong>
    </div>
</div> -->