<%- include('partials/mainHeader'); -%>


<section>
  <h1><strong>Hey there,</strong></h1>
  <div class="containers">
    <p id="data">See how your batches are doing... We were here all the time!!</p>
  </div>

</section>


<%- include('partials/mainFooter'); -%>