body{
  text-align: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
.stud{
  color: #29bb89;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

#title {
  background-image: linear-gradient(0deg, rgb(0,0,0) 0%, rgba(0, 0, 0, 0.9) 100%),url("/images/bkgImg-Page1.png");
  align-items: center;
}
#testimonial-carousel{
  align-items: center;
  color: #ffff;
}
.testimonial-image{
  width: 50%;
  margin: 20px;
}
.testimonial-image:hover{
  transform: scale(1.1);
}
.carousel-item{
  padding: 7% 15%;
}

/* navigation bar */

.navbar {
  padding: 2rem 1.5rem 4.5rem;
}

.nav-item {
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.navbar-brand{
  width: 425px;
  height: 114px;
}
.dropdown-menu{
  background-color: #212121;
}
.dropdown-item{
  color: #ffff;
}
.heading{
  color: #ffff;
  text-align: center;
}
.navbar-collapse{
  text-align: right;
}
#deals{
  padding: 100px;
  background-color: #fff;
}
.deals-heading-para{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #000;
  padding-bottom: 30px;
  font-size: 1.5rem;
}
.deals-heading{
  color: #000;
}
.pricing-column {
  padding: 3% 2%;
}
.customer-fav-card{
  transform: scale(1.1);
  padding-top: 50px;
  padding-bottom: 50px;
}
.customer-fav{
  background-color: #212121;
}
.small .big{
  background-color: #d8f8b7;
}
.card{
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
}
.customer-fav-heading{
  color: #ffff;
}
#features{
  background-image: linear-gradient(0deg, rgb(0,0,0) 0%, rgba(0, 0, 0, 0.9) 100%),url("/images/bkgImg-Page.png");
  color: #ffff;
}

.features-heading1{
  padding-top: 100px;
  padding-bottom: 0;
  line-height: 3.5rem;
  letter-spacing: 2px;
  font-size: 3rem;
  padding-left: 25px;
  padding-right: 25px;
}
.features-heading2{
  font-size: 1.5rem;
  padding-left: 35px;
  padding-right: 35px;
}
.featureimagetext-para{
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #e6dd3b;
}

@media (min-width: 1028px){
  .featureimage{
    width: 50%;
    margin: 20px;
    float: left;
    display: inline-block;
  }
  .featureimagetext{
    padding-top: 90px;
  }
}

#contacts{
  background-color: #fff;
}
.footer-class{
  padding: 50px;
}
.footer-column-para{
  line-height: 0.5rem;;
}
.footer-sections{
  padding: 15px;
}
.footer-sections-heading{
  font-family: 'Ubuntu', sans-serif;
  color: black;
}
.i-button{
  padding: 10px;
  font-size: 1.2rem;
  color: #424642;
}

.i-button{
  color: #424642;
  text-decoration: none;
}
.footer-link{
  color: #424642;
  text-decoration: none;
}
.i-button:hover{
  color: #000;
  font-weight: 2rem;
  text-decoration: none;
}
.footer-link:hover{
  color: #000;
  font-weight: 2rem;
  text-decoration: underline;
}
#footer{
  padding: 2% 10%;
  background-color: #000;
  color: #ffff;
}
@media (min-width: 1306px){
  .footer-sections{
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }
  .footer-class{
    padding: 100px 50px 100px;
  }
}
@media (max-width: 1306px){
  .navbar-brand{
    width: 315px;
    height: 85px;
  }
}
@media (max-width: 812px){
  h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 700;
  }

  h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
  }

  h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
  }

}


/* Signin css */
#signin{
  background-color: #212121;
  align-items: center;
  background-size: 100%;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-top: 100px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.signin-icon{
  width: 315px;
    height: 85px;
    margin-bottom: 65px;
    position: relative;
    right: 20px;
    
}
.p-signin{
  color: #706c61;
}